svg {
  display: block;
}

.clickable {
  cursor: pointer;
}

svg text.label {
  font-size: 1em;
  font-weight: normal;
}

.chart {
  display: flex;
  flex-direction: column;
}

.chart-title {
  font-weight: 500;
  font-size: 1.2em;
  padding: 0 10px;
}

.chart-container {
  flex: 1;
}
