html, body {
  background-color: #f2f2f2;
}

.column {
  padding: 5px;
}

div.chart {
  background-color: #fff;
  height: 300px;
}

.clear {
  clear: both;
}

.filters .filter {
  margin: 10px 15px 0 0;
  float: left;
}

.filters-list {
  margin: 10px 15px 10px 0;
  float: left;
}

.filters-list .filter {
  float: left;
  border: 2px solid lightblue;
  padding: 0 5px;
  margin: 5px;
  border-radius: 4px;
}

.filters-list .applied-filters {
  border-color: transparent;
}

.filters-list .filter .filter-remove {
  margin-left: 10px;
  cursor: pointer;
  color: lightblue;
}

.reset-button {
  background-color: lightblue;
  border: 2px solid lightblue;
  padding: 0 5px;
  border-radius: 4px;
  float: right !important;
}
