#tiles-placeholder .tile {
  float: left;
}

#map-placeholder {
  height: 300px;
}

#matter-type-placeholder {
  height: 300px;
}

#filters-placeholder {
  padding-top: 10px;
}

#case-by-type-placeholder {
  height: 300px;
}

#case-volume-placeholder {
  height: 300px;
}

#cases-by-entity-placeholder {
  height: 300px;
}

.row {
  margin-top: 15px;
}
