html, body {
  background-color: #f2f2f2;
}

.column {
  padding: 5px;
}

.chart {
  background-color: #fff;
}

svg {
  display: block;
}

#tiles-placeholder .tile {
  float: left;
}

#map-placeholder {
  height: 300px;
}

#matter-type-placeholder {
  height: 300px;
}

.filter {
  padding: 0 0 5px 0;
}

#case-by-type-placeholder {
  height: 300px;
}

#case-volume-placeholder {
  height: 300px;
}

#cases-by-entity-placeholder {
  height: 300px;
}
