div.dashboard-tooltip {
  position: absolute;
  text-align: center;
  padding: 10px 15px;
  font: 12px sans-serif;
  border: 1px solid black;
  border-radius: 3px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
}

div.dashboard-tooltip tr td:first-child {
  text-align: left;
  padding-right: 10px;
}

div.dashboard-tooltip tr td:last-child {
  text-align: right;
}
