<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Main dashboard</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main-dashboard-layout.css" rel="stylesheet">
    <link href="css/dashboard/chart.css" rel="stylesheet">
    <link href="css/dashboard/tile.css" rel="stylesheet">
    <link href="css/dashboard/pieChart.css" rel="stylesheet">
    <link href="css/dashboard/scatterPlot.css" rel="stylesheet">
    <link href="css/dashboard/barChart.css" rel="stylesheet">
    <link href="css/dashboard/treeMap.css" rel="stylesheet">
    <link href="css/dashboard/map.css" rel="stylesheet">
    <link href="css/dashboard/timeline.css" rel="stylesheet">
    <link href="css/dashboard/tooltip.css" rel="stylesheet">
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/d3/d3.clickcancel.js"></script>
    <!-- script src="lib/lodash/lodash.min.js"></script -->
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/moment/moment.min.js"></script>
    <script src="lib/colorbrewer/colorbrewer.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <!-- script src="dist/dashboard.min.js"></script -->
    <script src="js/dashboard/Dashboard.js"></script>
    <script src="js/dashboard/DataProvider.js"></script>
    <script src="js/dashboard/tips/Tip.js"></script>
    <script src="js/dashboard/tips/TitleTip.js"></script>
    <script src="js/dashboard/tips/SimpleTip.js"></script>
    <script src="js/dashboard/tips/FrequencyTip.js"></script>
    <script src="js/dashboard/tips/SummationTip.js"></script>
    <script src="js/dashboard/Config.js"></script>
    <script src="js/dashboard/Tooltip.js"></script>
    <script src="js/dashboard/Ticks.js"></script>
    <script src="js/dashboard/ticks/XTicks.js"></script>
    <script src="js/dashboard/ticks/YTicks.js"></script>
    <script src="js/dashboard/Widget.js"></script>
    <script src="js/dashboard/charts/Tiles.js"></script>
    <script src="js/dashboard/charts/tiles/Tile.js"></script>
    <script src="js/dashboard/charts/tiles/SimpleTile.js"></script>
    <script src="js/dashboard/charts/tiles/CaseTile.js"></script>
    <script src="js/dashboard/charts/PieChart.js"></script>
    <script src="js/dashboard/charts/BarChart.js"></script>
    <script src="js/dashboard/charts/ScatterPlot.js"></script>
    <script src="js/dashboard/charts/TreeMap.js"></script>
    <script src="js/dashboard/charts/Map.js"></script>
    <script src="js/dashboard/charts/TimeLine.js"></script>
</head>
<body ng-app="dashboardApp">
  <main class="container" ng-controller="DashboardCtrl as dashboard">
    <div class="row">
      <div class="col-md-12 column">
        <div id="filters-placeholder" class="filters">
          <div class="filter reset-button clickable" ng-click="resetAllFilters()">Reset filters</div>
          <div class="filter tiles-mode-filter">
            <label class="radio-inline">
              <input type="radio" name="mode" value="Case" ng-model="mode" ng-change="modeChangedEventHandler()" ng-checked="mode == 'Case'">Cases
            </label>
            <label class="radio-inline">
              <input type="radio" name="mode" value="Count" ng-model="mode" ng-change="modeChangedEventHandler()" ng-checked="mode == 'Count'">Data Sources Count
            </label>
            <label class="radio-inline">
              <input type="radio" name="mode" value="Size" ng-model="mode" ng-change="modeChangedEventHandler()" ng-checked="mode == 'Size'">Data Sources Size
            </label>
          </div>
        </div>
        <div class="clear"></div>
        <div class="filters-list">
          <div class="filter applied-filters">Applied Filters: </div>
          <div class="filter" ng-repeat="filter in filters">
            <span>{{filter.accessor}} = {{filter.value}}</span>
            <span class="filter-remove" ng-click="filterClickedEventHandler(filter.accessor)">x</span>
          </div>
        </div>
        <div class="clear"></div>
        <div class="tiles">
          <table class="tile" ng-repeat="tile in tiles" ng-init="init(tile)" ng-controller="ValueTileCtrl" ng-class="{ disabled: isDisabled()}" ng-click="dashboard.valueTileClickedEventHandler(tile.accessor)">
            <tbody>
              <tr>
                <td class="tile-right">
                  <table>
                    <tbody>
                      <tr>
                        <td class="tile-value">{{countValue}}</td>
                        <td class="data-source-text">data source(s)<div class="data-source">{{tile.name}}</div></td>
                      </tr>
                      <tr>
                        <td class="summary" colspan="2">{{countPercent}}% of Total</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="tile-left">
                  <div><span class="tile-value">{{sizeValue}}</span><span class="tile-unit">{{sizeUnit}}</span></div>
                  <div class="summary">{{sizePercent}}% of Total</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <article class="col-md-12 column" ng-controller="TimelineCtrl">
        <div></div>
      </article>
    </div>
    <div class="row">
      <article class="col-md-3 column" ng-controller="BarChartCtrl">
        <div class="chart"></div>
      </article>
      <article class="col-md-6 column" ng-controller="ScatterPlotCtrl">
        <div class="chart"></div>
      </article>
      <article class="col-md-3 column" ng-controller="PieChartCtrl">
        <div class="chart"></div>
      </article>
    </div>
    <div class="row">
      <article class="col-md-7 column" ng-controller="MapCtrl">
        <div class="chart"></div>
      </article>
      <article class="col-md-5 column" ng-controller="TreeMapCtrl">
        <div class="chart"></div>
      </article>
    </div>
  </main>
  <script src="js/angular-main-dashboard.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/DashboardCtrl.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/BarChartCtrl.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/PieChartCtrl.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/TreeMapCtrl.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/ScatterPlotCtrl.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/MapCtrl.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/TimelineCtrl.js"></script>
  <script src="js/angular-dashboard/Controllers/dashboard/ValueTileCtrl.js"></script>
</body>
</html>
