<table class="tile" style="background-color: rgb(118, 172, 212); opacity: 1;" ng-click="$ctrl.clickEventHandler()">
  <tbody>
    <tr>
      <td class="tile-right">
        <table>
          <tbody>
            <tr>
              <td class="tile-value">{{$ctrl.countValue}}</td>
              <td class="data-source-text">data source(s)<div class="data-source">{{$ctrl.name}}</div></td>
            </tr>
            <tr>
              <td class="summary" colspan="2">{{$ctrl.countPercent}}% of Total</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="tile-left">
        <div><span class="tile-value">{{$ctrl.sizeValue}}</span><span class="tile-unit">{{$ctrl.sizeUnit}}</span></div>
        <div class="summary">{{$ctrl.sizePercent}}% of Total</div>
      </td>
    </tr>
  </tbody>
</table>