.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 3px 3px 0;
}

.tiles > * {
  flex: 1;
  cursor: pointer;
  display: block;
  margin: 3px 0 0 3px;
}

.tiles .tile table {
  height: 60px;
}

.tiles .tile-left {
  min-width: 80px;
  border-left: 1px solid #bbb980;
  padding: 0 10px;
  color: black;
  text-align: center;
}

.tiles .tile-value {
  font-weight: bold;
  font-size: 1.2em;
}

.tiles .tile-left .tile-unit {
  text-transform: uppercase;
}

.tiles .summary {
  font-size: 10px;
  white-space: nowrap;
}

.tiles .tile-right {
  color: white;
  min-width: 100px;
  padding-left: 8px;
  width: 100%;
}

.tiles .tile-right table {
  width: 100%;
}

.tiles .tile-right .tile-value {
  padding-right: 8px;
}

.tiles .tile-right .data-source-text {
  text-transform: uppercase;
  font-size: 7px;
  width: 100%;
}

.tiles .tile-right .data-source {
  text-transform: uppercase;
  font-size: 10px;
}
