<table class="tile" ng-class="{ disabled: $ctrl.isDisabled()}" ng-click="$ctrl.onClick()">
  <tbody>
    <tr>
      <td class="tile-right">
        <table>
          <tbody>
            <tr>
              <td class="tile-value">{{$ctrl.countValue}}</td>
              <td class="data-source-text">Total<div class="data-source">cases</div></td>
            </tr>
            <tr>
              <td class="summary" colspan="2">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="tile-left">
        <div>
          <span class="tile-value">{{$ctrl.sizeValue}}</span><span class="tile-unit">{{$ctrl.sizeUnit}}</span>
        </div>
        <div class="summary">&nbsp;</div>
      </td>
    </tr>
  </tbody>
</table>