<div class="row">
  <div class="col-md-12 column">
    <div id="filters-placeholder" class="filters">
      <div class="filter reset-button clickable">Reset filters</div>
      <div class="filter tiles-mode-filter">
        <label class="radio-inline">
          <input type="radio" name="tiles-mode" ng-model="$ctrl.mode" value="Case" ng-checked="$ctrl.mode == 'Case'">Cases
        </label>
        <label class="radio-inline">
          <input type="radio" name="tiles-mode" ng-model="$ctrl.mode" value="Count" ng-checked="$ctrl.mode == 'Count'">Data Sources Count
        </label>
        <label class="radio-inline">
          <input type="radio" name="tiles-mode" ng-model="$ctrl.mode" value="Size" ng-checked="$ctrl.mode == 'Size'">Data Sources Size
        </label>
      </div>
    </div>
    <div class="clear"></div>
    <div class="filters-list"><div class="filter applied-filters">Applied Filters: </div></div>
    <div class="clear"></div>
    <div class="tiles">
      <case-tile config="$ctrl.caseTileConfig" data="$ctrl.data"></case-tile>
      <simple-tile config="$ctrl.identifiedTileConfig" data="$ctrl.data"></simple-tile>
      <simple-tile config="$ctrl.collectedTileConfig" data="$ctrl.data"></simple-tile>
      <simple-tile config="$ctrl.processedTileConfig" data="$ctrl.data"></simple-tile>
      <simple-tile config="$ctrl.hostedTileConfig" data="$ctrl.data"></simple-tile>
      <simple-tile config="$ctrl.producedTileConfig" data="$ctrl.data"></simple-tile>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 column">
    <div id="timeline-placeholder"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 column">
    <bar-chart config="$ctrl.barChartConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode"></bar-chart>
  </div>
  <div class="col-md-6 column">
    <scatter-plot config="$ctrl.scatterPlotConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode"></scatter-plot>
  </div>
  <div class="col-md-3 column">
    <pie-chart config="$ctrl.pieChartConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode" on-click="$ctrl.chartClickedEventHandler(value, accessor)"></pie-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-7 column">
    <map config="$ctrl.mapConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode"></map>
  </div>
  <div class="col-md-5 column">
    <tree-map config="$ctrl.treeMapConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode"></tree-map>
  </div>
</div>
