<div class="row">
  <div class="col-md-12 column">
    <div id="filters-placeholder" class="filters">
      <div class="filter reset-button clickable" ng-click="$ctrl.resetAllFilters()">Reset filters</div>
      <div class="filter tiles-mode-filter">
        <label class="radio-inline">
          <input type="radio" name="tiles-mode" ng-model="$ctrl.mode" value="Case" ng-change="$ctrl.modeChangedEventHandler()" ng-checked="$ctrl.mode == 'Case'">Cases
        </label>
        <label class="radio-inline">
          <input type="radio" name="tiles-mode" ng-model="$ctrl.mode" value="Count" ng-change="$ctrl.modeChangedEventHandler()" ng-checked="$ctrl.mode == 'Count'">Data Sources Count
        </label>
        <label class="radio-inline">
          <input type="radio" name="tiles-mode" ng-model="$ctrl.mode" value="Size" ng-change="$ctrl.modeChangedEventHandler()" ng-checked="$ctrl.mode == 'Size'">Data Sources Size
        </label>
      </div>
    </div>
    <div class="clear"></div>
    <div class="filters-list">
      <div class="filter applied-filters">Applied Filters: </div>
      <filter ng-repeat="filter in $ctrl.filters" mode="$ctrl.mode" accessor="filter.accessor" value="filter.value" on-click="$ctrl.filterClickedEventHandler(accessor)"></filter>
    </div>
    <div class="clear"></div>
    <div class="tiles">
      <case-tile current-accessor="$ctrl.accessor" config="$ctrl.caseTileConfig" data="$ctrl.data" on-click="$ctrl.caseTileClickedEventHandler()"></case-tile>
      <simple-tile current-accessor="$ctrl.accessor" config="$ctrl.identifiedTileConfig" data="$ctrl.data" on-click="$ctrl.valueTileClickedEventHandler(accessor)"></simple-tile>
      <simple-tile current-accessor="$ctrl.accessor" config="$ctrl.collectedTileConfig" data="$ctrl.data" on-click="$ctrl.valueTileClickedEventHandler(accessor)"></simple-tile>
      <simple-tile current-accessor="$ctrl.accessor" config="$ctrl.processedTileConfig" data="$ctrl.data" on-click="$ctrl.valueTileClickedEventHandler(accessor)"></simple-tile>
      <simple-tile current-accessor="$ctrl.accessor" config="$ctrl.hostedTileConfig" data="$ctrl.data" on-click="$ctrl.valueTileClickedEventHandler(accessor)"></simple-tile>
      <simple-tile current-accessor="$ctrl.accessor" config="$ctrl.producedTileConfig" data="$ctrl.data" on-click="$ctrl.valueTileClickedEventHandler(accessor)"></simple-tile>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 column">
    <div id="timeline-placeholder"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 column">
    <bar-chart config="$ctrl.barChartConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode" on-click="$ctrl.chartClickedEventHandler(value, accessor)"></bar-chart>
  </div>
  <div class="col-md-6 column">
    <scatter-plot config="$ctrl.scatterPlotConfig" data="$ctrl.data" mode="$ctrl.mode"></scatter-plot>
  </div>
  <div class="col-md-3 column">
    <pie-chart config="$ctrl.pieChartConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode" on-click="$ctrl.chartClickedEventHandler(value, accessor)"></pie-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-7 column">
    <map config="$ctrl.mapConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode" on-click="$ctrl.chartClickedEventHandler(value, accessor)"></map>
  </div>
  <div class="col-md-5 column">
    <tree-map config="$ctrl.treeMapConfig" data="$ctrl.data" filters="$ctrl.filters" mode="$ctrl.mode" on-click="$ctrl.chartClickedEventHandler(value, accessor)"></tree-map>
  </div>
</div>
